/*
 * General Styles
*/


body {
  background: black;
  font-family: 'Press Start 2P', cursive;}

  /* Full Page Background Receipe */
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

* {
  -moz-box-sizing: border-box; /* Firexfox */
  -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
  box-sizing: border-box; /* IE */
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

p {
  font-size: 16px;
  line-height: 1.75;
  margin-bottom: 14px;
  color: #fff;
}

strong {
  font-weight: bold;
}

ul li {
  list-style: decimal inside;
}

/*
 * Heading Styles
*/


h1, h2 {
  font-family: 'Abril Fatface', cursive,;
  color: #20C20E;
  text-align: center;
  margin-bottom: 12px;
}

h1 {

  font-size: 24px;

}

h2 {
  font-size: 32px;

  
}




/*
 * Container Styles
*/


.container {
  width: 600px;
  margin: 100px auto;
}

/*
 * Hero Styles
*/


.hero img {
  width: 50%;

  display: block;
	margin-left: auto;
	margin-right: auto;
  line-height: 0;
  padding: 36px;
}



/*
 * Section Styles
*/


section.intro, section.telegram{
  padding: 12px;
}

section.intro {
  background:  black;
  padding: 12px;
}


section.telegram {
  background:  #20C20E;
  color:  black;
  text-align: center;
  padding: 36px;
}



section.crypto {
  background-color: #2f2f2f;
  opacity: 0.925;
 text-align: center;
 color: #20C20E;
  text-align: left;
  font-size: 12px;
  margin: 24px;
  padding: 12px;
}

p{
	font-size: 10px;
	text-align: left;
}
  
section.nfts {
  text-align: center;
  background-color: #2f2f2f;
  opacity: 0.925;
  color: #20C20E;
   text-align: left;
   font-size: 12px;
   margin: 24px;
   padding: 12px;
 }
 
 p{
   font-size: 10px;
   text-align: left;
 }

 section.footer {
  text-align: center;
  color: #20C20E;
   text-align: left;
   font-size: 12px;
   margin: 24px;
   padding: 12px;
 }



body {
  color: #fff;
}








/*
 * Aside Styles
*/

aside.left {
  float: left ;
}

aside.right {
  float: right;
}

aside {
  margin-right: 1.5rem;
  margin-bottom: 0.625rem;
}










